.forMobileCareers {
    font-size:10px;padding-left:20%;padding-top:80px;padding-bottom:20%;font-weight:'bold';
}

.forBrowserCareers {
    font-size:10px;padding-left:20%;padding-top:80px;padding-bottom:20%;font-weight:'bold';
}